footer      {position: fixed;
            bottom: 0;
            width: 90vw;
            padding-right: 1vw;
            text-align: right;
            font-family: 'Poppins', 'Lato', sans-serif;
            background-color:  rgb(249, 253, 208);
            border-radius: 20px;
}