footer      {position: fixed;
            bottom: 0;
            width: 90vw;
            height: 4vh;
            text-align: right;
            color: var(--font-color);
            font-weight: 700;
            background-color: var(--insideBackground);
            padding: var(--small-padding);
            font-size: 80%;
            border-bottom-left-radius: var(--border-radius-outer);
            border-bottom-right-radius: var(--border-radius-outer);
}