nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 82vw;
  height: 10vh;
  background-color: white;
    padding: var(--small-padding);
    border-bottom-right-radius: var(--border-radius-outer);
    box-shadow: var(--box-shadow);
  }
  
  nav a {
    color: var(--highlight-colour);
    text-decoration: none;
    font-weight: 700;
    font-size: 100%;
  }
  
  #icon {
    height: 8vh;
    margin: 0;
  }

  #cartCounterFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:auto;
  }
  
  #cartCounter {
    border: 3px solid var(--highlight-colour);
    border-radius: 50%;
    padding: 0.24vw 1vw;
    color: var(--highlight-colour);
    margin: 0;
  }
  
  
  #hiAndLogout {
    display: flex;
    flex-direction: row;
    width: 30vw;
    align-items: center;
    font-size: 1rem;
  }
  
  #hiAndLogout button {
    border: 3px solid var(--font-color);
    margin: var(--margin);
  }
  
 