
.productDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
    font-size: 0.9rem;
}

.productItemDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  min-height: 50vh;
  margin: 1vw;
  background-color: rgb(249, 253, 208);
  padding: 1.5vw;
  border-radius: 10px;
  box-shadow: 1vw 1vw 2vw orangered;
}
.productImg {
  width: 15vw;
  filter: saturate(110%);
}

