.productDisplay {display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-evenly;
                }

.productItemDisplay {display: flex;
                    flex-direction: column;
                    width: 15vw;
                    min-height: 50vh;
                    margin: 1vw;
                    background-color: rgb(249, 253, 208);
                    padding: 1.5vw;
                    border-radius: 10px;
                    box-shadow: 1px 1px 5px orangered;}
.productImg        {width: 15vw;
                    filter: saturate(130%)}
a                  {text-decoration: none;
}


#productContainer   {display: flex;
                    flex-direction: row;
                    width: 70vw;
                    padding: 1vw;
                    justify-content: flex-start;
                    align-items: flex-start;
                    background-color: white;
                    border-radius: 20px;
                    margin: 1vw;
                    color: rgb(45, 35, 112);
                    }

#productContainer img   {width: 25vw;}

#productContainer h3   {color: orangered;}

#productText        {margin: 1vw;
                    padding: 1vw;}

#productText button {margin: 0;
                    padding: 1vw;}

#productText input  {padding: 1vw;
                    margin: 1vw;}

