
.productDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
    font-size: 0.9rem;
}

.productItemDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  min-height: 50vh;
  margin: 1vw;
  background-color: rgb(249, 253, 208);
  padding: 1.5vw;
  border-radius: 10px;
  box-shadow: 1vw 1vw 2vw orangered;
}
.productImg {
  width: 15vw;
  filter: saturate(110%);
}


#productContainer {
  display: flex;
  flex-direction: row;
  width: 60vw;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 253, 208);
  border-radius: 20px;
  margin: 1vw;
  color: orangered;
  font-size: 80%;
  box-shadow: 1vw 1vw 2vw orangered;
}

#productContainer img {
  width: 25vw;
  border-radius: 20px;
}

#productContainer h3 {
  color: orangered;

}

#productText {
  margin: 1vw;
  padding: 1vw;
}

#productText button {
  margin: 0;
  padding: 1vw;
}

#productText input {
  padding: 1vw;
  margin: 1vw;
}

#productText h4 {
  color: darkslateblue;
}

#checkoutLinks {
  display: inline-flex;
  justify-content: space-between;
  width: 25vw;
}

a {
  text-decoration: none;
  color: orangered;
  font-weight: bolder;
}
